body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orrange{
    color: orange;
}
section{
    display: flex; 
    margin-bottom: 55px;
}
.divide-width{
width: 39%;
margin-left: 6%;
padding-right: 1.3%;
}
.divide-width img{
    width: 100%;
}
.dream-heading1{
    font-size: 40px;

}
.link-button{
   text-decoration: none;
   
   background-image:linear-gradient(lightsalmon,tomato);
   color: white;
   padding: 10px 40px;
   border-radius: 5px;
   font-weight: 700;
}
.top-banner{
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;

}
.dream-banner{
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

